button:focus{
    color: red;
    background-color: orange; flex: 1;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 200px;
}